python-dotenv
psycopg2
Telethon
pyromod
pyrogram
tgcrypto
telegraph
motor==2.5.1
Pyrogram==1.4.16
marshmallow==3.14.1
psycopg2-binary
pytz
asyncio
datetime
psycopg2-binary
requests
wget
asyncio
datetime
aiofiles
youtube_dl
aiohttp
yt_dlp
opencc
telegraph
youtube_search
pytube
Python_ARQ
TgCrypto
motor
pymongo
aiofiles
dnspython
python-dotenv
psutil
heroku3
