python-dotenv==0.*
psycopg2==2.*
Telethon==1.*
pyromod==1.5
pyrogram1==0.*
TgCrypto==1.*
pyrogram==2.*
pyrogram
tgcrypto
asyncio
DateTime
Pyrogram==1.4.16
random
motor 
aiofiles
python-arq
requests
aiohttp
pytube
wget
glitch_this
opencv-python-headless
Pillow
youtube_dl
youtube_search
youtube-search-python
yt_dlp
