python-dotenv
psycopg2
pyromod
TgCrypto
pyrogram
tgcrypto
asyncio
DateTime
Pyrogram==1.4.16
random
motor 
aiofiles
python-arq
requests
aiohttp
pytube
wget
glitch_this
opencv-python-headless
Pillow
youtube_dl
youtube_search
youtube-search-python
yt_dlp
